@import 'defaults.scss';
@import '../layout.scss';

:host {
  @media screen and (max-width: $max-mobile) {
    display: none;
  }
}

.m-pageLayout__container--fullWidth :host {
  display: none !important;
  @media screen and (max-width: $layoutMax1ColWidth) {
    display: block;
  }
}

:host.m-sidebarNavigation--opened {
  display: block;

  .m-sidebarNavigation.m-sidebarNavigation--slide {
    transform: translateX(316px);
  }
}

:host {
  &:not(.m-sidebarNavigation--nav2021Feature) {
    .m-sidebarNavigation {
      overflow: scroll;
      padding-top: 26px;

      @media screen and (max-width: $layoutMax3ColWidth) {
        padding-top: 12px;
      }
    }
  }

  &.m-sidebarNavigation--sidebarMoreOpened {
    @include z-index(sidebar--mobile);
  }

  .m-sidebarNavigation {
    @include z-index(sidebar);
    min-width: 0;
    display: block;
    width: $layoutSidebarFullWidth;
    height: calc(100vh - 75px);
    position: fixed;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &.m-sidebarNavigation--matrixFeature {
      > nav:first-child {
        margin-bottom: 200px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border-right: 1px solid themed($m-borderColor--primary);
    }

    @media screen and (max-width: $layoutMax3ColWidth) {
      width: $layoutSidebarSmallWidth;
    }

    .m-sidebarNavigation__top {
      display: none;
    }

    &.m-sidebarNavigation--slide {
      @include z-index(topbar);
      position: fixed;
      top: 0;
      bottom: 0;
      left: -316px;
      width: 316px;
      height: 100vh;
      max-width: 79vw;
      padding: 0;
      border-right: 0;

      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      @include m-theme() {
        box-shadow: 0 0 10px rgba(themed($m-black-always), 0.1);
      }

      .m-sidebarNavigation__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 75px;
        padding: 0 20px;

        @include m-theme() {
          border-bottom: 1px solid themed($m-borderColor--primary);
        }

        a {
          text-decoration: none;

          & > img {
            height: 36px;
            cursor: pointer;
          }
        }

        i.material-icons {
          cursor: pointer;
          @include m-theme() {
            color: themed($m-textColor--secondary);
          }
        }
      }

      .m-sidebarNavigation__list {
        padding: 0 20px 0;

        // &.m-groupSidebarMarkers__list {
        //   padding: 0 35px 35px !important;
        // }
      }

      h5 {
        padding: 0 20px;
      }

      .m-sidebarNavigation__item--active .m-sidebarNavigation__subnav {
        display: block;
        position: relative;
        @include m-theme() {
          border-right: 1px solid themed($m-borderColor--primary);
        }
      }
    }

    .m-sidebarNavigation__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  .m-sidebarNavigation__overlay {
    @include m-theme() {
      background-color: rgba(themed($m-black-always), 0.4);
    }
  }
}

.m-sidebarNavigation__item {
  &.m-sidebarNavigation__item--groups {
    a {
      ::ng-deep m-tooltip {
        ::ng-deep m-icon {
          i {
            width: 23px;
          }
        }
      }
    }
  }
  a {
    display: flex;
    //flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 4px 0;
    font-weight: bold;

    font-size: 17px;
    line-height: 44px;

    .m-sidebarNavigation__newWindowIcon {
      display: none;
    }

    :host &,
    :host & ::ng-deep {
      @include m-theme() {
        color: themed($m-textColor--secondary);
        svg {
          fill: themed($m-textColor--secondary);
        }
      }
    }

    @media screen and (max-width: $layoutMax3ColWidth) {
      padding: 12px 0;
      text-align: center;
      justify-content: center;

      .m-sidebarNavigation--slide & {
        text-align: initial;
        justify-content: initial;
      }
    }
  }

  &:hover > a {
    .m-sidebarNavigation__newWindowIcon {
      display: inline-block;
      font-size: 12px;
      margin-left: 100px;
    }
  }

  &.m-sidebarNavigation__item--active > a,
  &:hover > a {
    cursor: pointer;

    :host &,
    :host & ::ng-deep {
      @include m-theme() {
        color: themed($m-link);
        svg {
          fill: themed($m-link);
        }
        .m-sidebarNavigation__newWindowIcon {
          color: themed($m-textColor--secondary);
        }
      }
    }
  }

  &.m-sidebarNavigation__item--user {
    img {
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }
    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  m-tooltip {
    @media screen and (max-width: $layoutMax3ColWidth) {
      width: 100%;
      text-align: center;

      .m-sidebarNavigation--slide & {
        width: initial;
        text-align: initial;
      }
    }

    i.material-icons,
    i.m-icon--hashtag,
    svg,
    img {
      height: 23px;
      width: 24px;
    }
  }

  .m-sidebarNavigationItem__text {
    margin-left: 24px;
  }

  .m-icon--hashtag {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
  }

  .m-sidebarNavigationItem__text {
    @media screen and (max-width: $layoutMax3ColWidth) {
      display: none;

      .m-sidebarNavigation__subnav {
        display: none;
      }
    }
  }
}

:host .m-sidebarNavigation--slide {
  @media screen and (max-width: $layoutMax3ColWidth) {
    .m-sidebarNavigationItem__text {
      display: block;
    }
    .m-sidebarNavigationItem__text {
      display: inline-block;
    }
  }
}

:host .m-sidebarNavigation__subnav {
  display: none;
  // position: relative;
  list-style: none;
  padding: 10px 0;
  // margin: 4px 20px;
  // padding: 20px;
  @include m-theme() {
    background: themed($m-bgColor--primary);
    border: 1px solid themed($m-borderColor--primary);
    border-right: 0;
  }

  &::before {
    position: absolute;

    width: 14px;
    height: 14px;
    display: block;
    content: '';
    top: -8px;
    left: 48px;
    transform: rotate(45deg);
    @include m-theme() {
      background: themed($m-bgColor--primary);
      border-top: 1px solid themed($m-borderColor--primary);
      border-left: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-sidebarNavigation__item a {
    padding-left: 48px;
    line-height: 32px;
  }
}

.m-sidebarNavigation__item--active .m-sidebarNavigation__subnav {
  @media screen and (min-width: $layoutMax3ColWidth + 1) {
    display: block;
    position: relative;
  }
}

//.m-sidebarNavigation__item:not(.m-sidebarNavigation__item--active) {
:host .m-sidebarNavigation__subnav--popover {
  display: block;
  position: fixed;

  @include m-theme() {
    border-right: 1px solid themed($m-borderColor--primary);
  }

  &::before {
    top: 20px;
    left: -8px;
    transform: rotate(-45deg);
  }

  .m-sidebarNavigation__item a {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    justify-content: left;
  }
}

.m-sidebarNavigation__item--compose ::ng-deep {
  m-icon .m-icon__assetsFile {
    background: url('../../../../assets/icons/compose.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

////////////////////////////////////////////////
// NAV 2021 FEATURE ////////////////////////////
////////////////////////////////////////////////

:host {
  &.m-sidebarNavigation--nav2021Feature {
    display: block;
    position: relative;

    .m-sidebarNavigation {
      overflow: visible;

      @include m-theme() {
        border-right: 1px solid transparent;
      }
      &.m-sidebarNavigation--slide {
        @include z-index(sidebar--mobile);
      }

      &:not(.m-sidebarNavigation--slide) {
        @include m-theme() {
          border-right: 1px solid themed($m-borderColor--primary);
        }
      }

      .m-sidebarNavigation__list {
        padding-top: 34px !important;
      }

      nav {
        overflow-y: auto;
        max-height: calc(100vh - 75px);
        &::-webkit-scrollbar {
          display: none;
        }

        @media screen and (max-width: $max-mobile) {
          max-height: 100vh;
        }

        ::ng-deep m-sidebarMore__trigger {
          display: block;
          margin-bottom: 200px;

          ::ng-deep popper-content {
            position: static;
          }
        }
      }

      ::ng-deep m-sidebarMore__trigger {
        .m-sidebarNavigation__item {
          margin-bottom: 0 !important;
        }
      }

      .m-sidebarNavigation__item {
        margin-bottom: 10px;

        &.m-sidebarNavigation__item--compose {
          margin-bottom: 20px !important;
        }

        a {
          padding: 0;
          font-size: 19px;
          height: 35px;
          min-width: 35px;
          line-height: 24px;
          @media screen and (max-width: $layoutMax3ColWidth) {
            padding: 0;
          }
        }

        &.m-sidebarNavigation__item--user img {
          width: 35px;
          height: 35px;
        }
      }

      .m-sidebarNavigationItem__text {
        margin-left: 20px;
      }

      ::ng-deep m-tooltip {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $layoutMax3ColWidth) {
          width: 35px !important;
          min-width: 35px !important;

          text-align: center;

          .m-sidebarNavigation--slide & {
            width: 35px !important;
            min-width: 35px !important;
            text-align: initial;
          }
        }
        i.material-icons,
        i.m-icon--hashtag,
        svg,
        img,
        ::ng-deep m-icon i {
          font-size: 21px;
          width: 20px;
        }

        i.m-icon--more {
          font-size: 24px;
        }

        .m-icon--hashtag {
          font-style: normal;
          font-weight: bold;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}
