<div
  class="m-sidebarNavigation"
  [class.m-sidebarNavigation--slide]="layoutMode === 'phone'"
  [ngClass]="{
    'm-sidebarNavigation--matrixFeature': matrixFeature
  }"
  (click)="onSidebarNavClick($event)"
>
  <nav>
    <div class="m-sidebarNavigation__top">
      <a
        routerLink="/"
        title="Home"
        i18n-title="@@COMMON__HOME"
        (click)="toggle()"
      >
        <img
          *ngIf="layoutMode !== 'phone'"
          [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
        />
        <ng-container *ngIf="layoutMode === 'phone'">
          <img
            *ngIf="!isDarkTheme"
            [src]="cdnAssetsUrl + 'assets/logos/medium-production.png'"
          />
          <img
            *ngIf="isDarkTheme"
            [src]="cdnAssetsUrl + 'assets/logos/medium-white.png'"
          />
        </ng-container>
        <m-canaryFlag class="m-sidebarNavigation__canaryFlag"></m-canaryFlag>
      </a>

      <i class="material-icons" (click)="toggle()">close</i>
    </div>

    <ul class="m-sidebarNavigation__list">
      <li
        class="m-sidebarNavigation__item m-sidebarNavigation__item--compose"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="user"
      >
        <a (click)="openComposeModal()" data-ref="sidenav-composer">
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              from="assets-file"
              iconId="assets/icons/compose.svg"
              [sizeFactor]="nav2021Feature ? 90 : 35"
              m-tooltip--icon
            ></m-icon>
            <ng-container>Speak your mind</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__COMPOSE"
          >
            Compose
          </span>
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        *ngIf="user"
      >
        <a
          [routerLink]="['/newsfeed/subscriptions']"
          (click)="toggle()"
          data-ref="sidenav-newsfeed"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              iconId="home"
              [sizeFactor]="nav2021Feature ? 8 : 35"
              m-tooltip--icon
            ></m-icon
            ><ng-container i18n="@@COMMON__NEWSFEED"
              >Newsfeed</ng-container
            ></m-tooltip
          >

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__NEWSFEED"
            >Newsfeed</span
          >
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: plusPageActive }"
      >
        <a
          [routerLink]="shouldBeDiscoveryHomepage() ? '/' : '/discovery'"
          (click)="toggle()"
          data-ref="sidenav-discovery"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="m-icon--hashtag" m-tooltip--anchor>#</i>
            <ng-container i18n="@@COMMON__DISCOVERY">Discovery</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__DISCOVERY"
            >Discovery</span
          >
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        [routerLinkActiveOptions]="{ exact: !plusPageActive }"
        *mIfFeature="'nav-plus-2020'"
      >
        <a
          routerLink="/discovery/plus/overview"
          (click)="toggle()"
          data-ref="sidenav-plus"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="material-icons" m-tooltip--anchor>add_to_queue</i>
            <ng-container i18n="@@COMMON__MINDS+">Minds+</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__MINDS+"
            >Minds+</span
          >
        </a>
      </li>

      <li
        class="m-sidebarNavigation__item"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
        *ngIf="user"
      >
        <a
          [routerLink]="['/wallet']"
          (click)="toggle()"
          data-ref="sidenav-wallet"
        >
          <m-tooltip
            [enabled]="!showLabels"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon
              iconId="account_balance"
              [sizeFactor]="nav2021Feature ? 8 : 35"
              m-tooltip--icon
            ></m-icon>
            <ng-container i18n="@@COMMON__WALLET">Wallet</ng-container>
          </m-tooltip>

          <span
            class="m-sidebarNavigationItem__text m-legible"
            i18n="@@COMMON__WALLET"
            >Wallet</span
          >
        </a>
      </li>

      <ng-container *mIfFeature="'matrix'">
        <li
          *ngIf="user"
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
        >
          <a
            [href]="chatUrl"
            target="chat"
            (click)="toggle()"
            data-ref="sidenav-chat"
          >
            <m-tooltip
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <m-chatIcon m-tooltip--icon></m-chatIcon>
              <ng-container i18n="@@COMMON__CHAT">Chat</ng-container>
            </m-tooltip>

            <span class="m-sidebarNavigationItem__text m-legible">
              <ng-container i18n="@@COMMON__CHAT">Chat</ng-container>
              <m-icon
                iconId="open_in_new"
                class="m-sidebarNavigation__newWindowIcon"
              ></m-icon>
            </span>
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="!nav2021Feature">
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          *ngIf="user"
        >
          <a
            routerLink="/analytics"
            (click)="toggle()"
            data-ref="sidenav-analytics"
          >
            <m-tooltip
              icon="insert_chart"
              [enabled]="false"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <ng-container i18n="@@COMMON__ANALYTICS">Analytics</ng-container>
            </m-tooltip>
            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__ANALYTICS"
              >Analytics</span
            >
          </a>

          <ul class="m-sidebarNavigation__subnav" m-sidebarNavigation__subnav>
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
            >
              <a
                routerLink="/analytics/dashboard/traffic"
                (click)="toggle()"
                i18n="@@COMMON__TRAFFIC"
                data-ref="sidenav-analytics-traffic"
                >Traffic</a
              >
            </li>
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
            >
              <a
                routerLink="/analytics/dashboard/token"
                (click)="toggle()"
                i18n="@@ANALYTICS__TOKEN"
                data-ref="sidenav-analytics-token"
                >Tokens</a
              >
            </li>
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
            >
              <a
                routerLink="/analytics/dashboard/engagement"
                (click)="toggle()"
                i18n="@@COMMON__ENGAGEMENT"
                data-ref="sidenav-analytics-engagement"
                >Engagement</a
              >
            </li>
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
            >
              <a
                routerLink="/analytics/dashboard/earnings"
                (click)="toggle()"
                i18n="@@COMMON__EARNINGS"
                data-ref="sidenav-analytics-earnings"
                >Earnings</a
              >
            </li>
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
            >
              <a
                routerLink="/analytics/dashboard/trending"
                (click)="toggle()"
                i18n="@@COMMON__TRENDING"
                data-ref="sidenav-analytics-trending"
                >Trending</a
              >
            </li>
          </ul>
        </li>
        <ng-container *ngIf="!nav2021Feature">
          <ng-container *ngIf="user">
            <li
              class="m-sidebarNavigation__item"
              [routerLinkActive]="'m-sidebarNavigation__item--active'"
              [routerLinkActiveOptions]="{ exact: true }"
              *mIfFeature="'earn-modal'"
            >
              <a (click)="openEarnModal()" data-ref="sidenav-earn-modal">
                <m-tooltip
                  [enabled]="!showLabels"
                  [anchor]="'left'"
                  [useParentPosition]="true"
                >
                  <i class="material-icons" m-tooltip--anchor>attach_money</i>
                  <ng-container i18n="@@COMMON__EARN">Earn</ng-container>
                </m-tooltip>

                <span
                  class="m-sidebarNavigationItem__text m-legible"
                  i18n="@@COMMON__EARN"
                  >Earn</span
                >
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!nav2021Feature">
        <ng-container *ngIf="user">
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
            [routerLinkActiveOptions]="{ exact: true }"
            *mIfFeature="'buy-tokens-uniswap-transak'"
          >
            <a (click)="buyTokens()" data-ref="sidenav-buytokens-modal">
              <m-tooltip
                [enabled]="!showLabels"
                [anchor]="'left'"
                [useParentPosition]="true"
              >
                <m-icon
                  from="custom"
                  iconId="wallet"
                  [sizeFactor]="nav2021Feature ? 8 : 35"
                  m-tooltip--icon
                ></m-icon>
                <ng-container i18n="@@COMMON__BUY_CRYPTO"
                  >Buy Crypto</ng-container
                >
              </m-tooltip>

              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__BUY_CRYPTO"
                >Buy Crypto</span
              >
            </a>
          </li>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!nav2021Feature">
        <ng-container *ngIf="user">
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
            [routerLinkActiveOptions]="{ exact: true }"
            *mIfFeature="'boost-modal-v2'"
          >
            <a (click)="openBoostModal()" data-ref="sidenav-boost-modal">
              <m-tooltip
                [enabled]="!showLabels"
                [anchor]="'left'"
                [useParentPosition]="true"
              >
                <m-icon iconId="trending_up" m-tooltip--icon></m-icon>
                <ng-container>Boost your channel</ng-container>
              </m-tooltip>

              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__BOOST"
                >Boost</span
              >
            </a>
          </li>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="user">
        <li
          *mIfFeature="'matrix'"
          class="m-sidebarNavigation__item m-sidebarNavigation__item--groups"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            [routerLink]="['/groups/memberships']"
            (click)="toggle()"
            data-ref="sidenav-groups"
          >
            <m-tooltip
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <m-icon
                iconId="group"
                [sizeFactor]="nav2021Feature ? 8 : 35"
                m-tooltip--icon
              ></m-icon>
              <ng-container i18n="@@COMMON__GROUPS">Groups</ng-container>
            </m-tooltip>
            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__GROUPS"
              >Groups</span
            >
          </a>
        </li>
      </ng-container>
      <li
        *ngIf="user && (!matrixFeature || nav2021Feature)"
        class="m-sidebarNavigation__item m-sidebarNavigation__item--user"
        [routerLinkActive]="'m-sidebarNavigation__item--active'"
      >
        <a
          [routerLink]="['/' + user.username]"
          (click)="toggle()"
          data-ref="sidenav-channel"
        >
          <img
            [src]="cdnUrl + 'icon/' + user.guid + '/small/' + user.icontime"
            alt=""
          />
          <span class="m-sidebarNavigationItem__text m-legible">
            @{{ user.username }}
          </span>
        </a>
      </li>
      <ng-container *ngIf="!nav2021Feature">
        <li
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          class="m-sidebarNavigation__item"
          *ngIf="user"
        >
          <a
            [routerLink]="[settingsLink]"
            (click)="toggle()"
            data-ref="sidenav-settings"
          >
            <m-tooltip
              icon="more_horiz"
              i18n="@@COMMON__SETTINGS"
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
              >Settings</m-tooltip
            >

            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__SETTINGS"
              >Settings</span
            >
          </a>
        </li></ng-container
      >
      <ng-container *ngIf="!user && !nav2021Feature">
        <li
          class="m-sidebarNavigation__item"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a (click)="openAuthModal()" data-ref="sidenav-loggedout-more">
            <m-tooltip
              [enabled]="!showLabels"
              [anchor]="'left'"
              [useParentPosition]="true"
            >
              <i class="material-icons" m-tooltip--anchor>more_horiz</i>
              <ng-container i18n="@@COMMON__MORE">More</ng-container>
            </m-tooltip>

            <span
              class="m-sidebarNavigationItem__text m-legible"
              i18n="@@COMMON__MORE"
              >More</span
            >
          </a>
        </li>
      </ng-container>
      <ng-container *ngIf="nav2021Feature">
        <!-- Click event is handled by popperjs inside trigger component -->
        <m-sidebarMore__trigger (toggle)="onSidebarMoreToggle($event)">
          <li
            class="m-sidebarNavigation__item"
            [routerLinkActive]="'m-sidebarNavigation__item--active'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a data-ref="sidenav-more">
              <m-tooltip
                [enabled]="!showLabels"
                [anchor]="'left'"
                [useParentPosition]="true"
              >
                <i class="material-icons m-icon--more" m-tooltip--anchor
                  >more_horiz</i
                >
                <ng-container i18n="@@COMMON__MORE">More</ng-container>
              </m-tooltip>

              <span
                class="m-sidebarNavigationItem__text m-legible"
                i18n="@@COMMON__MORE"
                >More</span
              >
            </a>
          </li>
        </m-sidebarMore__trigger>
      </ng-container>
    </ul>
  </nav>

  <div class="m-sidebar--groups" [hidden]="!user || matrixFeature">
    <ng-template dynamic-host></ng-template>
  </div>
</div>

<ng-container *mIfFeature="'nav-2021'">
  <div
    class="minds-bg-overlay m-sidebarNavigation__overlay"
    *ngIf="isOpened && layoutMode === 'phone'"
    (click)="toggle()"
  ></div>
</ng-container>
