@import 'defaults.scss';

:host {
  .m-publisherCard {
    padding: 15px 20px 25px 20px;
    border-radius: $m-borderRadius;
    font-size: 16px;
    @include m-theme() {
      border: 1px solid themed($m-borderColor--primary);
    }

    &.m-publisherCard--featured {
      @include m-theme() {
        border: 1px solid themed($m-link);
      }
    }

    > * {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    .m-publisherCard__subs {
      display: flex;

      a {
        text-decoration: none;
        font-weight: 400;
      }
      span {
        font-size: 15;
        padding-right: 4px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }

        &.m-publisherCardSubs__count {
          @include m-theme() {
            color: themed($m-textColor--primary);
          }
        }
      }
    }

    .m-publisherCard__subs,
    .m-publisherCard__desc,
    .m-publisherCard__tags {
      margin-top: 15px;
    }

    .m-publisherCard__tags {
      span {
        font-size: 16px;
        display: inline-block;
        margin-right: 5px;
      }
      ::ng-deep a {
        font-weight: 400;
        text-decoration: none;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }

    .m-publisherCard__desc {
      p {
        line-height: 17px;
        font-size: 15px;
        margin: 0;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  .m-publisherCard__ownerRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    .minds-avatar {
      min-width: 40px;
      min-height: 40px;
      margin: 0 15px 0 0 !important;
      position: relative;

      &.m-publisherCardAvatar--hasMarker::after {
        border-radius: 50%;
        display: block;
        height: 11px;
        width: 11px;
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        @include m-theme() {
          background-color: themed($m-blue);
        }
      }

      .m-publisherCardAvatarImg {
        width: 38px;
        height: 38px;
        max-width: 38px;
        max-height: 38px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        flex-basis: 100%;
      }
    }

    .m-publisherCardOwnerRow__owner {
      max-width: 100%;
      width: calc(100% - 185px);

      > div {
        display: flex;
        justify-content: flex-start;
      }

      .m-publisherCardOwnerRowItem__name,
      .m-publisherCardOwnerRowItem__username {
        font-weight: 400;
        text-decoration: none;
        flex: auto 0 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .m-publisherCardOwnerRowItem__name {
        font-weight: 500;
        line-height: 21px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
        .m-channel--badges-activity {
          vertical-align: text-top;
          .m-channel--badges i {
            padding-right: 3px;
          }
        }
      }
      .m-publisherCardOwnerRowItem__username {
        font-size: 15px;
        line-height: 20px;
        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }
    }
    ::ng-deep {
      m-subscribeButton {
        flex: auto 0 0;
        ::ng-deep m-button {
          .m-button i {
            font-size: 16px !important;
          }
        }
      }
    }
  }

  .m-publisherCard--hovercard {
    @include m-theme() {
      border: none;
    }
    .m-publisherCard__inner {
      max-height: 151px !important;
      overflow: hidden;
    }
  }

  .m-publisherCard--large {
    .m-publisherCard__inner {
      max-height: 141px;
      overflow: hidden;
    }
  }

  .m-publisherCard--medium {
    .m-publisherCard__inner {
      max-height: 131px;
      overflow: hidden;
    }
    padding: 15px;

    .m-publisherCardOwnerRow__owner {
      width: calc(100% - 100px);
    }
  }
  .m-publisherCard--small {
    .m-publisherCard__inner {
      max-height: 155px;
      overflow: hidden;
    }
    padding: 20px;

    .m-publisherCard__ownerRow {
      flex-direction: column;

      .m-publisherCardOwnerRow__owner {
        width: 100%;
      }

      .minds-avatar {
        margin: 0 0 10px 0 !important;

        min-width: 48px;
        min-height: 48px;

        img {
          width: 46px;
          height: 46px;
        }
      }

      .m-publisherCardOwnerRow__owner {
        > div {
          justify-content: center;
          > a {
            display: inline-block;
          }
        }
      }

      ::ng-deep {
        m-subscribeButton {
          margin: 15px 0 5px;
        }
      }
    }
    ::ng-deep {
      m-button {
        button {
          margin-left: 0px;
        }
      }

      m-channel--badges i {
        font-size: 20px;
      }
    }
    .m-publisherCard__subs {
      justify-content: center;
    }
  }

  ::ng-deep {
    m-button {
      margin-right: 0 !important;
      button {
        margin-left: 10px;
      }
    }

    .m-readMoreButton--v2.showOnlyFadeout {
      height: 0;
      cursor: default;

      @include m-theme() {
        background: linear-gradient(
          to bottom,
          rgba(themed($m-bgColor--primary), 0) 55%,
          rgba(themed($m-bgColor--primary), 0.55) 90%,
          rgba(themed($m-bgColor--primary), 1) 100%
        );
      }
      > span {
        display: none;
      }
    }
  }
}
