<div class="m-boost--creator">
  <div class="m-boost--creator--header">
    <h2 i18n="@@M__FEATURE__BOOST">Boost</h2>
  </div>

  <span *ngIf="step === 0">
    <!-- Type -->
    <section class="m-boost--creator-section m-boost--creator-section-type">
      <h3
        class="m-boost--creator-section-title--small"
        i18n="@@BOOST__CREATOR__BOOST_TYPE_TITLE"
      >
        Boost Type
      </h3>

      <ul
        class="m-boost--creator-selector"
        [class.m-boost--creator-selector--has-selection]="boost.type"
      >
        <li
          *ngIf="allowedTypes.newsfeed"
          (click)="setBoostType('newsfeed')"
          [class.m-boost--creator-selector--highlight]="
            !boost.type || boost.type == 'newsfeed'
          "
        >
          <h4 i18n="@@M__FEATURE__NEWSFEED_PLURAL">Feeds</h4>
          <span
            class="m-boost--creator-selector--description"
            i18n="@@BOOST__CREATOR__NEWSFEEDS_SELECTOR_DESC"
            >Your content will appear on newsfeeds across the site.</span
          >
          <span
            class="m-boost--creator-selector--selected-label"
            i18n="@@M__COMMON__SELECTED"
            >Selected</span
          >
        </li>

        <li
          *ngIf="allowedTypes.p2p"
          (click)="setBoostType('p2p')"
          [class.m-boost--creator-selector--highlight]="
            !boost.type || boost.type == 'p2p'
          "
        >
          <h4 i18n="@@M__FEATURE__OFFER__PLURAL">Offers</h4>
          <span
            class="m-boost--creator-selector--description"
            i18n="@@BOOST__CREATOR__OFFERS_SELECTOR_DESC"
            >Your content will be shared to a specific channel in exchange for
            USD or tokens.</span
          >
          <span
            class="m-boost--creator-selector--selected-label"
            i18n="@@M__COMMON__SELECTED"
            >Selected</span
          >
        </li>

        <li
          *ngIf="allowedTypes.content"
          (click)="setBoostType('content')"
          [class.m-boost--creator-selector--highlight]="
            !boost.type || boost.type == 'content'
          "
        >
          <h4 i18n="@@M__FEATURE__SIDEBAR_PLURAL">Sidebars</h4>
          <span
            class="m-boost--creator-selector--description"
            i18n="@@BOOST__CREATOR__SIDEBARS_SELECTOR_DESC"
            >Your content will display on the sidebars throughout the
            site.</span
          >
          <span
            class="m-boost--creator-selector--selected-label"
            i18n="@@M__COMMON__SELECTED"
            >Selected</span
          >
        </li>
      </ul>
    </section>

    <!-- Amount -->
    <section class="m-boost--creator-section-row">
      <section class="m-boost--creator-section m-boost--creator-section-amount">
        <h3 class="m-boost--creator-section-title--small">
          <ng-container
            *ngIf="boost.type != 'p2p'"
            i18n="@@BOOST__CREATOR__BID_TITLE"
            >How many views do you want?</ng-container
          >
          <ng-container
            *ngIf="boost.type == 'p2p'"
            i18n="@@BOOST__CREATOR__OFFER_TITLE"
            >What's your offer?</ng-container
          >
        </h3>

        <div
          class="m-boost--creator-wide-input m-boost--creator--amount"
          [class.m-boost--creator-wide-input--reading]="!editingAmount"
        >
          <input
            type="text"
            class="m-boost--creator-wide-input--edit"
            [ngModel]="boost.amount | number"
            (ngModelChange)="setBoostAmount($event)"
            (focus)="amountEditorFocus()"
            (blur)="amountEditorBlur()"
            (keydown.enter)="amountEditorBlur()"
            (keydown.esc)="amountEditorBlur()"
            #amountEditor
          />

          <span
            class="m-boost--creator-wide-input--label"
            (click)="amountEditorFocus()"
          >
            <ng-container
              *ngIf="boost.type != 'p2p'"
              i18n="@@BOOST__CREATOR__VIEWS_INPUT_LABEL"
              >views</ng-container
            >
          </span>
        </div>

        <div class="m-boost--creator-wide-input--cost">
          <span class="m-boost--creator-wide-input--cost-label-value">
            <span class="m-boost--creator-wide-input--cost-label">Cost</span>

            <span class="m-boost--creator-wide-input--cost-value">
              <span *ngIf="boost.currency === 'usd'">{{
                calcCharges(boost.currency) | currency: 'USD':'symbol'
              }}</span>
              <span *ngIf="boost.currency !== 'usd'">{{
                calcCharges(boost.currency) | number: '1.0-4'
              }}</span>
            </span>
          </span>

          <span class="m-boost--creator-wide-input--cost-currency">
            <ng-container
              *ngIf="boost.currency === 'usd'"
              i18n="@@BOOST__CREATOR__USD_LABEL"
              >USD</ng-container
            >
            <ng-container
              *ngIf="boost.currency !== 'usd'"
              i18n="@@BOOST__CREATOR__TOKENS_LABEL"
              >Tokens</ng-container
            >
          </span>
        </div>

        <span
          class="m-boost--creator-wide-input--estimation"
          *ngIf="estimatedTime !== -1"
          i18n="@@BOOST__CREATOR__ESTIMATED_COMPLETION"
        >
          Estimated completion time: {{ estimatedTime }} hours
        </span>
      </section>

      <!-- Payment Method -->
      <section
        class="m-boost--creator-section m-boost--creator-section-payment"
      >
        <h3
          class="m-boost--creator-section-title--small"
          i18n="@@BOOST__CREATOR__PAYMENT_METHOD_CRYPTO_TITLE"
        >
          Payment Method
        </h3>
        <m-boost--creator-payment-methods
          [(boost)]="boost"
          [rates]="rates"
        ></m-boost--creator-payment-methods>
      </section>
    </section>

    <!-- Boost Settings -->
    <!-- General -->
    <ng-container
      *ngIf="boost.type && boost.type != 'p2p' && boost.currency === 'usd'"
    >
      <section
        class="m-boost--creator-section m-boost--creator-section-priority"
      >
        <h3>
          <ng-container i18n="@@BOOST__CREATOR__PRIORITY_TITLE"
            >Priority</ng-container
          >
          <span
            class="m-boost--creator-section--title-context"
            i18n="@@BOOST__CREATOR__PRIORITY_TITLE_CTX"
          >
            Priority content goes to the front of the line, but costs at least
            twice the price of a regular boost.
          </span>
        </h3>

        <span
          class="m-boost--creator-toggle"
          [class.m-boost--creator-toggle--highlight]="boost.priority"
          (click)="togglePriority()"
        >
          <span
            class="m-boost--creator-toggle--select"
            i18n="@@M__ACTION__SELECT"
            >Select</span
          >
          <span
            class="m-boost--creator-toggle--selected"
            i18n="@@M__COMMON__SELECTED"
            >Selected</span
          >

          <span
            class="m-boost--creator-toggle--label"
            *ngIf="boost.currency == 'usd'"
          >
            +
            <b i18n="currency|@@COMMON__USD__BOOST_CREATOR_WITH_AMOUNT"
              >{{
                calcPriorityChargesPreview('usd') | currency: 'USD':'symbol'
              }}
              USD</b
            >
          </span>
          <span
            class="m-boost--creator-toggle--label"
            *ngIf="boost.currency !== 'usd'"
          >
            +
            <b i18n="currency|@@COMMON__TOKENS__BOOST_CREATOR_AMOUNT"
              >{{
                calcPriorityChargesPreview(boost.currency) | number
              }}
              tokens</b
            >
          </span>
        </span>
      </section>

      <section
        class="m-boost--creator-section m-boost--creator-section-categories"
        *ngIf="false"
      >
        <h3>
          <ng-container i18n="@@BOOST__CREATOR__TARGET_TITLE"
            >Target</ng-container
          >
          <span
            class="m-boost--creator-section--title-context"
            i18n="@@BOOST__CREATOR__CATEGORIES_TARGET_TITLE_CTX"
          >
            Select the categories which you want your boost to be targeted to
            ({{ rates.maxCategories }} max).
          </span>
        </h3>

        <m-boost--creator-categories
          [(boost)]="boost"
        ></m-boost--creator-categories>
      </section>
    </ng-container>

    <!-- P2P -->
    <ng-container *ngIf="boost.type && boost.type == 'p2p'">
      <section class="m-boost--creator-section m-boost--creator-section-target">
        <h3>
          <ng-container i18n="@@BOOST__CREATOR__TARGET_TITLE"
            >Target</ng-container
          >
          <span
            class="m-boost--creator-section--title-context"
            i18n="@@BOOST__CREATOR__TARGET_TITLE_CTX"
          >
            Search for the channel you want to boost to.
          </span>
        </h3>

        <m-boost--creator-p2p-search
          [boost]="boost"
          (boostChanged)="setBoostTarget()"
        ></m-boost--creator-p2p-search>
      </section>
    </ng-container>
    <!-- / -->
  </span>

  <ng-container *ngIf="step == 1">
    <section class="m-boost--creator-section m-boost--creator-section-checkout">
      <h3
        class="m-boost--creator-section-title--small"
        i18n="@@BOOST__CREATOR__PLEASE_ENTER_BILLING"
      >
        Please enter your billing details
      </h3>
      <m-boost--creator-checkout [boost]="boost"></m-boost--creator-checkout>
    </section>
  </ng-container>

  <!-- Next -->
  <section
    class="m-boost--creator-section m-boost--creator-section-submit"
    (mouseenter)="showErrors()"
    *ngIf="
      step < 1 && (boost.currency === 'usd' || boost.currency === 'creditcard')
    "
  >
    <div class="m-boost--creator--submit">
      <m-button
        class="m-boost--creator-button-next"
        (onAction)="next()"
        i18n="verb|@@M__ACTION__BOOST_NEXT"
        color="blue"
      >
        Next
      </m-button>
    </div>
  </section>

  <!-- Submit -->
  <section
    class="m-boost--creator-section m-boost--creator-section-submit"
    [class.m-boost--creator-section-submit--network]="boost.type != 'p2p'"
    (mouseenter)="showErrors()"
    *ngIf="
      step >= 1 || (boost.currency !== 'usd' && boost.currency !== 'creditcard')
    "
  >
    <div class="m-boost--creator--submit">
      <m-button
        class="m-boost--creator-button--back"
        (onAction)="back()"
        i18n="verb|@@M__ACTION__BOOST_BACK"
        *ngIf="boost.currency === 'usd' || boost.currency === 'creditcard'"
      >
        Back
      </m-button>

      <m-button
        class="m-boost--creator-button--submit m-boost--creator-button--boost"
        [disabled]="!canSubmit() || success || criticalError"
        [saving]="inProgress"
        (onAction)="submit()"
        i18n="verb|@@M__ACTION__BOOST"
        color="blue"
        >Boost</m-button
      >

      <div
        *ngIf="inProgress"
        class="
          m-boost--creator--submit-label
          mdl-spinner mdl-js-spinner
          is-active
        "
        [mdl]
      ></div>

      <div
        *ngIf="!inProgress && success"
        class="m-boost--creator--submit-label"
      >
        <i class="material-icons">check</i>
        <span i18n="@@BOOST__CREATOR__BOOSTED_LABEL">Boosted!</span>
      </div>

      <div
        *ngIf="!inProgress && !!error"
        class="m-boost--creator--submit-error"
      >
        <i class="material-icons">close</i>
        <span data-cy="data-minds-boost-creation-error">{{ error }}</span>
      </div>
    </div>
  </section>
</div>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
