<div class="m-newsfeed m-page m-pageLayout__container" m-pageLayout__container>
  <div
    class="m-newsfeed--feed"
    m-pageLayout__pane="main"
    [ngClass]="{ 'm-newsfeed--logged-out': !session.getLoggedInUser() }"
  >
    <m-compassQuestionnaire__banner
      *mIfFeature="'social-compass'"
    ></m-compassQuestionnaire__banner>
    <router-outlet></router-outlet>
  </div>

  <div
    class="m-newsfeed--boost-sidebar m-newsfeed__sidebar"
    m-pageLayout__pane="right"
    *ngIf="showRightSidebar"
  >
    <div class="m-pageLayoutPane__inner">
      <div class="m-pageLayoutPane__sticky" m-stickySidebar>
        <m-onboardingProgressWidget></m-onboardingProgressWidget>

        <m-chat__sidebarPrompt></m-chat__sidebarPrompt>
        <m-language__sidebarPrompt></m-language__sidebarPrompt>
        <m-suggestions__sidebar type="user"></m-suggestions__sidebar>

        <ng-container *mIfFeature="'liquidity-spot'">
          <m-liquiditySpot> </m-liquiditySpot>
          <div class="m-spacer"></div>
        </ng-container>

        <m-discovery__sidebarTags></m-discovery__sidebarTags>

        <div class="m-spacer"></div>

        <m-ads-boost
          limit="8"
          *ngIf="
            !(
              session.getLoggedInUser().plus &&
              session.getLoggedInUser().disabled_boost
            )
          "
        ></m-ads-boost>
        <div class="m-spacer"></div>
      </div>
    </div>
  </div>
</div>
