<m-loadingSpinner [inProgress]="!isLoggedIn"></m-loadingSpinner>
<div class="m-wireCreator m-modalV2__inner" *ngIf="isLoggedIn">
  <m-wireCreator__marketingBlock
    *ngIf="service.isUpgrade$ | async"
  ></m-wireCreator__marketingBlock>
  <m-wireCreator__ownerBlock
    *ngIf="!(service.isUpgrade$ | async)"
  ></m-wireCreator__ownerBlock>
  <m-wireCreator__form
    *ngIf="!(service.supportTier$ | async)"
  ></m-wireCreator__form>
  <m-wireCreator__shop
    *ngIf="
      (supportTiers.list$ | async)?.length &&
      !(service.isUpgrade$ | async) &&
      !(service.supportTier$ | async)
    "
    (onDismissIntent)="onDismissIntent()"
  ></m-wireCreator__shop>

  <m-wireCreator__supportTierConfirmation
    *ngIf="service.supportTier$ | async"
  ></m-wireCreator__supportTierConfirmation>

  <m-wireCreator__toolbar (onSubmit)="onSubmit()"></m-wireCreator__toolbar>
</div>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
