<div class="m-user-menu m-dropdown">
  <minds-avatar
    [object]="getCurrentUser()"
    [editMode]="false"
    (click)="toggleMenu()"
    data-ref="topnav-avatar"
    *ngIf="useAvatar && getCurrentUser(); else iconAnchor"
  ></minds-avatar>
  <ng-template #iconAnchor>
    <a
      class="m-user-menu__Anchor"
      (click)="toggleMenu()"
      data-ref="topnav-avatar-alt"
    >
      <i class="material-icons">more_vert</i>
    </a>
  </ng-template>

  <ul
    class="m-dropdown__list m-userMenu__dropdown mdl-shadow--3dp"
    [class.m-userMenu__dropdown--loggedOut]="!getCurrentUser()"
    [hidden]="!(service.isOpen$ | async)"
  >
    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item m-userMenuDropdown__username
      "
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a
        [routerLink]="['/', getCurrentUser().username]"
        data-ref="topnav-usermenu-channel"
      >
        @{{ getCurrentUser().username }}
      </a>
    </li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item
        m-userMenuDropdownItem__upgrade
      "
      *ngIf="getCurrentUser() && !getCurrentUser().pro"
      (click)="closeMenu()"
    >
      <a
        routerLink="/upgrades"
        i18n="@@COMMON__UPGRADE"
        data-ref="topnav-usermenu-upgrade"
      >
        Upgrade
      </a>
    </li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item
        m-userMenuDropdownItem__buyTokens
      "
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a
        routerLink="/token"
        i18n="verb|@@COMMON__BUY_TOKENS"
        data-ref="topnav-usermenu-buytokens"
        >Buy tokens</a
      >
    </li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item m-userMenuDropdown__spacer
      "
      *ngIf="getCurrentUser()"
    ></li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="!getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/login" data-ref="topnav-usermenu-login">
        <span i18n="@@COMMON__LOGIN">Login</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="isAdmin()"
      (click)="closeMenu()"
    >
      <a routerLink="/admin/interactions" data-ref="topnav-usermenu-admin">
        <span i18n="@@COMMON__ADMIN">Admin</span>
      </a>
    </li>

    <ng-container>
      <li
        class="m-dropdownList__item m-userMenuDropdown__item"
        *ngIf="getCurrentUser()"
        (click)="toggleTheme()"
        data-ref="topnav-usermenu-themechange"
      >
        <span i18n="@@COMMON__LIGHT_MODE" *ngIf="isDark">Enter Light Mode</span>
        <span i18n="@@COMMON__DARK_MODE" *ngIf="!isDark">Enter Dark Mode</span>
      </li>
    </ng-container>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
      *ngIf="getCurrentUser()"
    >
      <a routerLink="/boost/console" data-ref="topnav-usermenu-boostconsole">
        <span i18n="@@COMMON__BOOST_CONSOLE">Boost Console</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
      *ngIf="getCurrentUser()"
    >
      <a routerLink="/settings" data-ref="topnav-usermenu-settings">
        <span i18n="@@COMMON__SETTINGS">Settings</span>
      </a>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      (click)="closeMenu()"
    >
      <!--Endpoint handles authentication and redirection-->
      <ng-container *mIfFeature="'helpdesk-2021'; else helpdeskLink">
        <a
          href="/api/v3/helpdesk/zendesk"
          target="_blank"
          data-ref="topnav-usermenu-help-zendesk"
        >
          <span i18n="@@COMMON__HELP">Help</span>
        </a>
      </ng-container>
      <ng-template #helpdeskLink>
        <a routerLink="/help" data-ref="topnav-usermenu-help">
          <span i18n="@@COMMON__HELP">Help</span>
        </a>
      </ng-template>
    </li>

    <li
      class="m-dropdownList__item m-userMenuDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="closeMenu()"
    >
      <a routerLink="/logout" data-ref="topnav-usermenu-logout">
        <span i18n="@@COMMON__LOGOUT">Logout</span>
      </a>
    </li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item m-userMenuDropdown__spacer
      "
    ></li>

    <li
      class="
        m-dropdownList__item
        m-userMenuDropdown__item m-userMenuDropdown__footer
      "
      *ngIf="showFooterLinks"
    >
      <ng-container
        *ngFor="let link of footerLinks.slice(0, maxFooterLinks); let i = index"
      >
        <a
          *ngIf="link.routerLink"
          [routerLink]="link.routerLink"
          (click)="closeMenu()"
          [data-ref]="'topnav-usermenu-footer' + link.label"
        >
          {{ link.label }}
        </a>
        <a
          *ngIf="link.href"
          [href]="link.href"
          target="_blank"
          (click)="closeMenu()"
        >
          {{ link.label }}
        </a>
        <span> · </span>
      </ng-container>
      <a (click)="toggleFooterLinks()">
        <ng-container
          *ngIf="maxFooterLinks === 5; else lessView"
          i18n="@@COMMON__MORE"
          >More</ng-container
        >
        <ng-template #lessView>
          <ng-container i18n="@@COMMON__LESS">Less</ng-container>
        </ng-template>
      </a>
    </li>
  </ul>
</div>

<div
  class="minds-bg-overlay"
  (click)="closeMenu()"
  [hidden]="!(service.isOpen$ | async)"
></div>
