<ng-template #searchBar>
  <div class="m-v3Topbar__searchBox">
    <ng-content select="[search]"></ng-content>
  </div>
</ng-template>

<div
  class="m-v3Topbar__top"
  [class.m-v3Topbar__top--noBorder]="
    !(pageLayoutService.hasTopbarBorder$ | async)
  "
  [class.m-v3Topbar__top--noBackground]="
    !(pageLayoutService.hasTopbarBackground$ | async)
  "
  [class.m-v3Topbar__top--loggedOut]="!getCurrentUser()"
  [style.visibility]="showTopbar ? 'visible' : 'hidden'"
>
  <div class="m-v3TopbarTop__inner m-pageLayout__container">
    <div class="m-v3Topbar__leftColumn m-pageLayout__pane--left">
      <nav class="m-v3Topbar__nav">
        <a
          class="m-v3TopbarNav__item m-v3TopbarNav__item--logo"
          [routerLink]="getMainLogoUrl()"
          title="Home"
          i18n-title="@@COMMON__HOME"
          data-ref="topnav-logo"
        >
          <img
            [src]="cdnAssetsUrl + 'assets/logos/bulb.svg'"
            class="m-v3Topbar__logo--bulb"
          />
          <img
            *ngIf="!(isDarkTheme$ | async)"
            [src]="cdnAssetsUrl + 'assets/logos/logo-light-mode.svg'"
            class="m-v3Topbar__logo--full"
          />
          <img
            *ngIf="isDarkTheme$ | async"
            [src]="cdnAssetsUrl + 'assets/logos/logo-dark-mode.svg'"
            class="m-v3Topbar__logo--full"
          />
        </a>
        <m-canaryFlag></m-canaryFlag>
        <div
          class="m-v3TopbarNav__item m-v3TopbarNav__item--hamburger"
          (click)="toggleSidebarNav()"
        >
          <i class="material-icons">menu</i>
        </div>
      </nav>
    </div>

    <div
      class="m-pageLayout__pane--main"
      style="display:flex; flex-direction: row;"
    >
      <div class="m-v3Topbar__middleColumn" *ngIf="showSearchBar">
        <ng-container *ngTemplateOutlet="searchBar"></ng-container>
      </div>

      <div class="m-v3Topbar__spacer"></div>

      <div class="m-v3Topbar__rightColumn">
        <ng-container *ngIf="!onAuthPages && !getCurrentUser()">
          <div
            class="m-v3TopbarContainer__loginWrapper"
            [ngClass]="{
              'm-v3TopbarContainer__loginWrapper--roundButtons': !onHomepage
            }"
          >
            <ng-container *ngIf="!onHomepage">
              <m-button
                class="m-v3TopbarLoginWrapper__login"
                (onAction)="onLoginClick()"
                title="Login"
                i18n-title="@@COMMON__LOGIN"
                data-ref="topnav-login"
                size="small"
              >
                Login
              </m-button>

              <m-button
                class="m-v3TopbarLoginWrapper__joinMindsNow"
                (onAction)="onJoinNowClick()"
                title="Join Minds Now"
                i18n-title="@@COMMON__JOIN_MINDS_NOW"
                data-ref="topnav-join-now"
                color="blue"
                size="small"
              >
                Join Now
              </m-button>
            </ng-container>
            <ng-container *ngIf="onHomepage">
              <a
                class="m-v3TopbarLoginWrapper__login"
                (click)="onLoginClick()"
                title="Login"
                i18n-title="@@COMMON__LOGIN"
                data-ref="topnav-login"
              >
                Login
              </a>
              <a
                class="m-v3TopbarLoginWrapper__joinMindsNow"
                (click)="onJoinNowClick()"
                title="Join Minds Now"
                i18n-title="@@COMMON__JOIN_MINDS_NOW"
                data-ref="topnav-join-now"
                color="blue"
              >
                Join Now
              </a>
            </ng-container>
          </div>
        </ng-container>

        <div class="m-v3Topbar__userMenu">
          <div class="m-v3Topbar__spacer"></div>
          <!-- edit -->
          <ng-content select="[icons]"></ng-content>
          <m-usermenu__v3
            [useAvatar]="true"
            [showFooterLinks]="true"
          ></m-usermenu__v3>
        </div>

        <div class="m-v3Topbar__notificationsToasterWrapper">
          <div class="m-v3Topbar__notificationsToaster">
            <ng-template dynamic-host></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
