<!-- Embedded mode -->
<ng-container *ngIf="embedded" [ngSwitch]="activePanel$ | async">
  <m-multiFactorAuth__totp
    *ngSwitchCase="'totp'"
    (onVerify)="onSaveIntent()"
  ></m-multiFactorAuth__totp>
  <m-multiFactorAuth__sms
    *ngSwitchCase="'sms'"
    (onVerify)="onSaveIntent()"
  ></m-multiFactorAuth__sms>
  <m-multiFactorAuth__totpRecovery
    *ngSwitchCase="'totp-recovery'"
  ></m-multiFactorAuth__totpRecovery>
</ng-container>

<!-- NOT embedded mode -->
<ng-container *ngIf="!embedded">
  <div class="m-mfaBase__header" [ngStyle]="getBannerSrc()">
    Two-factor Required
  </div>
  <div class="m-mfaBase__panelContainer" [ngSwitch]="activePanel$ | async">
    <m-multiFactorAuth__totp
      *ngSwitchCase="'totp'"
      (onVerify)="onSaveIntent()"
    ></m-multiFactorAuth__totp>
    <m-multiFactorAuth__sms
      *ngSwitchCase="'sms'"
      (onVerify)="onSaveIntent()"
    ></m-multiFactorAuth__sms>
    <m-multiFactorAuth__email
      *ngSwitchCase="'email'"
      (onVerify)="onSaveIntent()"
    ></m-multiFactorAuth__email>
    <m-multiFactorAuth__totpRecovery
      *ngSwitchCase="'totp-recovery'"
    ></m-multiFactorAuth__totpRecovery>
  </div>
</ng-container>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
