<div
  class="m-activityModal__wrapper"
  data-cy="data-minds-activity-modal"
  *ngIf="entity && entity.content_type"
>
  <div class="m-activityModal__theater" (click)="clickedModal($event)">
    <div
      class="m-activityModal m-activityModal__clearFix"
      [style.height]="stageHeight + 'px'"
    >
      <!-- -------------------------------------------------- -->
      <!-- --LEFT SIDE--------------------------------------- -->
      <!-- -------------------------------------------------- -->
      <!-- (this is the element that goes into fullscreen) -->
      <div
        class="m-activityModal__stageWrapper"
        [style.line-height]="stageHeight + 'px'"
        (mouseenter)="onMouseEnterStage()"
        (mouseleave)="onMouseLeaveStage()"
        (touchend)="showOverlaysOnTablet()"
        [ngClass]="{
          'm-activityModal__stageWrapper--status':
            entity.content_type === 'status'
        }"
      >
        <!-- LOADING PANEL -->
        <div
          class="m-activityModal__loadingPanel"
          *ngIf="
            (service.loading$ | async) && entity.content_type !== 'rich-embed'
          "
        >
          <m-loadingSpinner
            [inProgress]="service.loading$ | async"
          ></m-loadingSpinner>
        </div>

        <!-- MEDIA STAGE -->
        <div class="m-activityModal__stage">
          <div
            class="m-activityModal__mediaWrapper"
            [ngClass]="{
              'm-activityModal__mediaWrapper--image':
                entity.content_type === 'image',
              'm-activityModal__mediaWrapper--status':
                entity.content_type === 'status',
              'm-activityModal__mediaWrapper--statusShort': shortStatus,
              'm-activityModal__mediaWrapper--statusLong':
                entity.content_type === 'status' && !shortStatus,
              'm-activityModal__mediaWrapper--video':
                entity.content_type === 'video',
              'm-activityModal__mediaWrapper--richEmbed':
                entity.content_type === 'rich-embed',
              isBlog: entity.content_type === 'blog',
              'm-activityModal__mediaWrapper--quote': isQuote
            }"
          >
            <m-activity__content
              *ngIf="
                !isQuote &&
                (activityService.shouldShowContent$ | async) &&
                isContentReady
              "
              [hideText]="
                entity.content_type !== 'status' &&
                entity.activity_type !== 'rich-embed' &&
                entity.content_type !== 'rich-embed'
              "
              [showPaywall]="activityService.shouldShowPaywall$ | async"
              [showPaywallBadge]="
                activityService.shouldShowPaywallBadge$ | async
              "
              [@slowFade]="(this.service.loading$ | async) ? 'out' : 'in'"
              [ngClass]="{ missingDimensions: mediaHeight === 0 }"
            ></m-activity__content>
            <m-activity__modalQuote
              *ngIf="isQuote && entity"
              [entity]="entity.remind_object"
            ></m-activity__modalQuote>
          </div>
          <m-activity__nsfwConsent
            *ngIf="activityService.shouldShowNsfwConsent$ | async"
          >
          </m-activity__nsfwConsent>
          <!-- OVERLAY (TITLE & FULLSCREEN CTRLS)-->
          <m-activity__modalTitleOverlay></m-activity__modalTitleOverlay>
          <!-- PAGER BUTTONS -->
          <m-activity__modalPager></m-activity__modalPager>
        </div>
      </div>

      <!-- (END LEFT SIDE)-->

      <!-- -------------------------------------------------- -->
      <!-- ---RIGHT SIDE------------------------------------- -->
      <!-- -------------------------------------------------- -->
      <div class="m-activityModal__contentContainer">
        <div class="m-activityModal__contentBody">
          <!-- OWNER BLOCK -->
          <m-activity__ownerBlock>
            <ng-container class="m-activityOwnerBlock__right">
              <m-activity__metrics></m-activity__metrics>

              <ng-container *ngIf="entity">
                <span
                  *ngIf="entity.pinned"
                  class="m-activity__flag m-activity__flag--pinned"
                  data-cy="m-activity__pinnedFlag"
                >
                  <span>Pinned</span>
                </span>
              </ng-container>

              <m-activity__menu
                (deleted)="delete()"
                *ngIf="activityService.isLoggedIn$ | async"
              ></m-activity__menu>
            </ng-container>
          </m-activity__ownerBlock>

          <!-- TOOLBAR -->
          <div class="m-activityModal__toolbarWrapper">
            <m-activity__toolbar
              *ngIf="activityService.displayOptions.showToolbar"
            ></m-activity__toolbar>
          </div>
          <!-- --------------- -->
          <!-- SCROLLABLE AREA -->
          <!-- --------------- -->
          <div
            class="m-activityModal__scrollableAreaContainer m-activityModal__contentAfter"
          >
            <div
              class="m-activityModal__scrollableAreaBody m-disableScrollbars"
            >
              <!-- MESSAGE -->
              <m-activity__content
                *ngIf="
                  (activityService.shouldShowContent$ | async) &&
                  showContentMessageOnRight
                "
                [hideMedia]="true"
                [showPaywall]="activityService.shouldShowPaywall$ | async"
                [showPaywallBadge]="
                  activityService.shouldShowPaywallBadge$ | async
                "
              >
              </m-activity__content>

              <!-- COMMENTS TREE -->
              <div class="m-activityModal__comments" *ngIf="entity.guid">
                <ng-container *mIfBrowser>
                  <m-comments__entityOutlet
                    *ngIf="activityService.displayOptions.showComments"
                    [entity]="activityService.entity$ | async"
                    [canDelete]="activityService.canDelete$ | async"
                    [fixedHeight]="false"
                    [showOnlyPoster]="false"
                    [compact]="true"
                  >
                  </m-comments__entityOutlet>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
