<div class="m-auth__modal m-modalV2__inner">
  <div class="m-modalV2__header" *ngIf="!siteService.isProDomain">
    <h2 class="m-modalV2Header__title">
      {{ formDisplay }}
    </h2>
  </div>

  <!-- START: PRO Specific -->
  <m-authModal__proSiteHeader
    *ngIf="siteService.isProDomain"
  ></m-authModal__proSiteHeader>
  <!-- END: PRO Specific -->

  <div class="m-modalV2__body">
    <ng-container *ngIf="formDisplay === 'register'">
      <minds-form-register
        [showTitle]="false"
        [showBigButton]="true"
        [showPromotions]="false"
        [showLabels]="true"
        [showInlineErrors]="true"
        (done)="onRegisterDone($event)"
      >
      </minds-form-register>

      <ng-container *ngTemplateOutlet="orDivider"></ng-container>

      <div class="m-authModal__alt">
        <span>Already have a Minds account? </span>
        <a (click)="showLoginForm($event)">Login</a>
      </div>
    </ng-container>
    <ng-container *ngIf="formDisplay === 'login'">
      <minds-form-login
        [showBigButton]="true"
        [showInlineErrors]="true"
        [showLabels]="true"
        [showTitle]="false"
        (done)="onLoginDone($event)"
        (doneRegistered)="onRegisterDone($event)"
      >
      </minds-form-login>

      <ng-container *ngTemplateOutlet="orDivider"></ng-container>

      <div class="m-authModal__alt">
        <span>Don't have an account? </span>
        <a (click)="showRegisterForm($event)">Join now</a>
      </div>
    </ng-container>
  </div>

  <!-- START: PRO Specific -->
  <div class="m-modalV2__toolbar" *ngIf="siteService.isProDomain">
    <m-poweredBy></m-poweredBy>
  </div>
  <!-- END: PRO Specific -->
</div>

<ng-template #orDivider>
  <div class="m-authModal__orDivider">
    <span></span>
    <span class="m-authModalOrDivider__text">OR</span>
    <span></span>
  </div>
</ng-template>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
