<div class="m-sidebarMore">
  <ul class="m-dropdown__list m-sidebarMore__dropdown">
    <!-- ------------------------------------------------------------ -->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item
      "
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a [routerLink]="'/settings'" data-ref="sidebarmore-settings">
        <i class="material-icons">settings</i>
        <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__SETTINGS"
          >Settings</span
        >
      </a>
    </li>
    <!-- ------------------------------------------------------------ -->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item
      "
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a (click)="buyTokens()" data-ref="sidebarmore-buytokens-modal">
        <m-icon from="custom" iconId="wallet"></m-icon>

        <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__BUY_CRYPTO"
          >Buy Crypto</span
        >
      </a>
    </li>
    <!-- ------------------------------------------------------------ -->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item
      "
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a [routerLink]="'/analytics'" data-ref="sidebarmore-analytics">
        <i class="material-icons">insights</i>
        <span class="m-sidebarNavigationItem__text" i18n="@@COMMON__ANALYTICS"
          >Analytics</span
        >
      </a>
    </li>
    <!-- ------------------------------------------------------------ -->
    <li
      class="m-dropdownList__item m-sidebarMoreDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a (click)="openBoostModal()" data-ref="sidebarmore-boost-modal">
        <i class="material-icons">trending_up</i>
        <span i18n="@@COMMON__BOOST_CONSOLE">Boost</span>
      </a>
    </li>
    <!-- ------------------------------------------------------------ -->
    <li
      class="m-dropdownList__item m-sidebarMoreDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a (click)="openEarnModal()" data-ref="sidebarmore-earn-modal">
        <i class="material-icons">attach_money</i>
        <span i18n="@@COMMON__EARN">Earn</span>
      </a>
    </li>
    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item m-sidebarMoreDropdown__spacer
      "
      *ngIf="getCurrentUser()"
    ></li>
    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="m-dropdownList__item m-sidebarMoreDropdown__item"
      *ngIf="getCurrentUser()"
      (click)="toggleSidebar()"
    >
      <a (click)="toggleTheme()">
        <ng-container *ngIf="isDark">
          <i class="material-icons">light_mode</i>
          <span i18n="@@COMMON__LIGHT_MODE">Enter Light Mode</span>
        </ng-container>
        <ng-container *ngIf="!isDark">
          <i class="material-icons">dark_mode</i>
          <span i18n="@@COMMON__DARK_MODE">Enter Dark Mode</span>
        </ng-container>
      </a>
    </li>
    <!-- ------------------------------------------------------------ -->
    <li
      class="m-dropdownList__item m-sidebarMoreDropdown__item"
      (click)="toggleSidebar()"
    >
      <!--Endpoint handles authentication and redirection-->
      <a
        href="/api/v3/helpdesk/zendesk"
        target="_blank"
        data-ref="sidebarmore-help-zendesk"
      >
        <i class="material-icons">help</i>
        <span i18n="@@COMMON__HELP">Help</span>
      </a>
    </li>
    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item m-sidebarMoreDropdown__spacer
      "
    ></li>
    <!--./././././././././././././././././././././././././././././././.-->
    <li
      class="
        m-dropdownList__item
        m-sidebarMoreDropdown__item m-sidebarMoreDropdown__footer
      "
    >
      <ng-container
        *ngFor="let link of footerLinks.slice(0, maxFooterLinks); let i = index"
      >
        <a
          *ngIf="link.routerLink"
          [routerLink]="link.routerLink"
          [data-ref]="'sidebarmore-footer' + link.label"
          (click)="toggleSidebar()"
          >{{ link.label }}</a
        >
        <a
          *ngIf="link.href"
          [href]="link.href"
          target="_blank"
          (click)="toggleSidebar()"
          >{{ link.label }}</a
        >
        <span> · </span>
      </ng-container>
      <a
        (click)="toggleFooterLinks()"
        class="m-sidebarMoreDropdownFooter__toggle"
        ><ng-container
          *ngIf="maxFooterLinks === 4; else lessView"
          i18n="@@COMMON__MORE"
          >More</ng-container
        ><ng-template #lessView>
          <ng-container i18n="@@COMMON__LESS">Less</ng-container>
        </ng-template></a
      >
    </li>
  </ul>
</div>
