/**
 * Credit to ngx-int-tel-input
 */
m-phoneInput {
  position: relative;
  display: inline-flex;
  margin-bottom: $minds-padding;
  flex-grow: 1;
  @media (max-width: $max-mobile) {
    width: 100%;
    input {
      width: 100%;
    }
  }

  span {
    font-weight: 300;
  }

  .m-phoneInput__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: $minds-margin * 2;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-borderColor--primary);
    }
    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    &.dropdownShown {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.focused {
      @include m-theme() {
        border-color: themed($m-blue);
      }
      .m-phoneInput__input {
        @include m-theme() {
          border-color: themed($m-blue);
        }
      }
    }
    &.invalid {
      @include m-theme() {
        border-color: themed($m-red-dark);
      }
      input {
        @include m-theme() {
          border-color: themed($m-red-dark);
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .v-hide {
    visibility: hidden;
  }
  input,
  input[type='text'],
  input[type='tel'] {
    position: relative;
    margin: 0;
    font-size: 16px;
    border: 0;
  }
  .m-phoneInput__digits-2 {
    width: 24px;
  }
  .m-phoneInput__digits-3 {
    width: 32px;
  }
  .m-phoneInput__digits-4 {
    width: 40px;
  }
  .m-phoneInput__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px;
  }
  .m-phoneInput__selectedFlag {
    z-index: 1;
    position: relative;
    height: 36px;
    padding: 0 0 0 8px;
    border: 0;
    border-right: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    .m-phoneInput__dialCode {
      margin-left: 5px;
      @include m-theme() {
        color: themed($m-grey-300);
      }
    }
    .m-phoneInput__arrow {
      margin: 0 5px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      @include m-theme() {
        border-top: 6px solid themed($m-grey-100);
      }
    }
    .m-phoneInput__arrow.up {
      border-top: none;
      @include m-theme() {
        border-bottom: 6px solid themed($m-grey-100);
        border-top: none;
      }
    }
  }

  .m-phoneInput__input {
    flex: 1 1 auto;
    height: 100%;
    padding: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    overflow-x: hidden;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border-left: 1px solid themed($m-borderColor--primary);
    }
    &:focus {
      outline: none;
    }
  }

  m-phoneInput__country {
    flex: 0 1 auto;
  }
  .m-phoneInput__countryList {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    top: 40px;
    left: 0;
    width: 100%;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      border: 1px solid themed($m-blue);
      border-top: none;
    }

    &.dropdown {
      flex-direction: column !important;
    }

    @media (max-width: 500px) {
      white-space: normal;
    }

    .m-phoneInput__country {
      cursor: pointer;
      padding: 8;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      .m-phoneInput__dialCode {
        @include m-theme() {
          color: themed($m-grey-300);
        }
      }
      &:focus,
      &.focused {
        @include m-theme() {
          background-color: rgba(themed($m-grey-50), 0.4);
        }
      }
      &:active {
        @include m-theme() {
          background-color: rgba(themed($m-grey-50), 0.7);
        }
      }
    }
  }
  .m-phoneInput__dropup {
    bottom: 100%;
    margin-bottom: -1px;
  }
  .m-phoneInput__flagBox {
    display: inline-block;
    width: 20px;
  }
  .m-phoneInput__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    margin-top: 0;
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }
  &.country:not(:last-child) {
    @include m-theme() {
      border-bottom: 1px solid themed($m-borderColor--primary);
    }
  }

  .m-phoneInput__countryList .m-phoneInput__flagBox,
  .m-phoneInput__countryList .m-phoneInput__countryName,
  .m-phoneInput__countryList .m-phoneInput__dialCode {
    vertical-align: middle;
  }
  .m-phoneInput__countryList .m-phoneInput__flagBox,
  .m-phoneInput__countryList .m-phoneInput__countryName {
    margin-right: 6px;
  }

  .m-phoneInput__flag {
    width: 20px;
  }
  .m-phoneInput__flag.be {
    width: 18px;
  }
  .m-phoneInput__flag.ch {
    width: 15px;
  }
  .m-phoneInput__flag.mc {
    width: 19px;
  }
  .m-phoneInput__flag.ne {
    width: 18px;
  }
  .m-phoneInput__flag.np {
    width: 13px;
  }
  .m-phoneInput__flag.va {
    width: 15px;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .m-phoneInput__flag {
      background-size: 5630px 15px;
    }
  }
  .m-phoneInput__flag.ac {
    height: 10px;
    background-position: 0px 0px;
  }
  .m-phoneInput__flag.ad {
    height: 14px;
    background-position: -22px 0px;
  }
  .m-phoneInput__flag.ae {
    height: 10px;
    background-position: -44px 0px;
  }
  .m-phoneInput__flag.af {
    height: 14px;
    background-position: -66px 0px;
  }
  .m-phoneInput__flag.ag {
    height: 14px;
    background-position: -88px 0px;
  }
  .m-phoneInput__flag.ai {
    height: 10px;
    background-position: -110px 0px;
  }
  .m-phoneInput__flag.al {
    height: 15px;
    background-position: -132px 0px;
  }
  .m-phoneInput__flag.am {
    height: 10px;
    background-position: -154px 0px;
  }
  .m-phoneInput__flag.ao {
    height: 14px;
    background-position: -176px 0px;
  }
  .m-phoneInput__flag.aq {
    height: 14px;
    background-position: -198px 0px;
  }
  .m-phoneInput__flag.ar {
    height: 13px;
    background-position: -220px 0px;
  }
  .m-phoneInput__flag.as {
    height: 10px;
    background-position: -242px 0px;
  }
  .m-phoneInput__flag.at {
    height: 14px;
    background-position: -264px 0px;
  }
  .m-phoneInput__flag.au {
    height: 10px;
    background-position: -286px 0px;
  }
  .m-phoneInput__flag.aw {
    height: 14px;
    background-position: -308px 0px;
  }
  .m-phoneInput__flag.ax {
    height: 13px;
    background-position: -330px 0px;
  }
  .m-phoneInput__flag.az {
    height: 10px;
    background-position: -352px 0px;
  }
  .m-phoneInput__flag.ba {
    height: 10px;
    background-position: -374px 0px;
  }
  .m-phoneInput__flag.bb {
    height: 14px;
    background-position: -396px 0px;
  }
  .m-phoneInput__flag.bd {
    height: 12px;
    background-position: -418px 0px;
  }
  .m-phoneInput__flag.be {
    height: 15px;
    background-position: -440px 0px;
  }
  .m-phoneInput__flag.bf {
    height: 14px;
    background-position: -460px 0px;
  }
  .m-phoneInput__flag.bg {
    height: 12px;
    background-position: -482px 0px;
  }
  .m-phoneInput__flag.bh {
    height: 12px;
    background-position: -504px 0px;
  }
  .m-phoneInput__flag.bi {
    height: 12px;
    background-position: -526px 0px;
  }
  .m-phoneInput__flag.bj {
    height: 14px;
    background-position: -548px 0px;
  }
  .m-phoneInput__flag.bl {
    height: 14px;
    background-position: -570px 0px;
  }
  .m-phoneInput__flag.bm {
    height: 10px;
    background-position: -592px 0px;
  }
  .m-phoneInput__flag.bn {
    height: 10px;
    background-position: -614px 0px;
  }
  .m-phoneInput__flag.bo {
    height: 14px;
    background-position: -636px 0px;
  }
  .m-phoneInput__flag.bq {
    height: 14px;
    background-position: -658px 0px;
  }
  .m-phoneInput__flag.br {
    height: 14px;
    background-position: -680px 0px;
  }
  .m-phoneInput__flag.bs {
    height: 10px;
    background-position: -702px 0px;
  }
  .m-phoneInput__flag.bt {
    height: 14px;
    background-position: -724px 0px;
  }
  .m-phoneInput__flag.bv {
    height: 15px;
    background-position: -746px 0px;
  }
  .m-phoneInput__flag.bw {
    height: 14px;
    background-position: -768px 0px;
  }
  .m-phoneInput__flag.by {
    height: 10px;
    background-position: -790px 0px;
  }
  .m-phoneInput__flag.bz {
    height: 14px;
    background-position: -812px 0px;
  }
  .m-phoneInput__flag.ca {
    height: 10px;
    background-position: -834px 0px;
  }
  .m-phoneInput__flag.cc {
    height: 10px;
    background-position: -856px 0px;
  }
  .m-phoneInput__flag.cd {
    height: 15px;
    background-position: -878px 0px;
  }
  .m-phoneInput__flag.cf {
    height: 14px;
    background-position: -900px 0px;
  }
  .m-phoneInput__flag.cg {
    height: 14px;
    background-position: -922px 0px;
  }
  .m-phoneInput__flag.ch {
    height: 15px;
    background-position: -944px 0px;
  }
  .m-phoneInput__flag.ci {
    height: 14px;
    background-position: -961px 0px;
  }
  .m-phoneInput__flag.ck {
    height: 10px;
    background-position: -983px 0px;
  }
  .m-phoneInput__flag.cl {
    height: 14px;
    background-position: -1005px 0px;
  }
  .m-phoneInput__flag.cm {
    height: 14px;
    background-position: -1027px 0px;
  }
  .m-phoneInput__flag.cn {
    height: 14px;
    background-position: -1049px 0px;
  }
  .m-phoneInput__flag.co {
    height: 14px;
    background-position: -1071px 0px;
  }
  .m-phoneInput__flag.cp {
    height: 14px;
    background-position: -1093px 0px;
  }
  .m-phoneInput__flag.cr {
    height: 12px;
    background-position: -1115px 0px;
  }
  .m-phoneInput__flag.cu {
    height: 10px;
    background-position: -1137px 0px;
  }
  .m-phoneInput__flag.cv {
    height: 12px;
    background-position: -1159px 0px;
  }
  .m-phoneInput__flag.cw {
    height: 14px;
    background-position: -1181px 0px;
  }
  .m-phoneInput__flag.cx {
    height: 10px;
    background-position: -1203px 0px;
  }
  .m-phoneInput__flag.cy {
    height: 13px;
    background-position: -1225px 0px;
  }
  .m-phoneInput__flag.cz {
    height: 14px;
    background-position: -1247px 0px;
  }
  .m-phoneInput__flag.de {
    height: 12px;
    background-position: -1269px 0px;
  }
  .m-phoneInput__flag.dg {
    height: 10px;
    background-position: -1291px 0px;
  }
  .m-phoneInput__flag.dj {
    height: 14px;
    background-position: -1313px 0px;
  }
  .m-phoneInput__flag.dk {
    height: 15px;
    background-position: -1335px 0px;
  }
  .m-phoneInput__flag.dm {
    height: 10px;
    background-position: -1357px 0px;
  }
  .m-phoneInput__flag.do {
    height: 13px;
    background-position: -1379px 0px;
  }
  .m-phoneInput__flag.dz {
    height: 14px;
    background-position: -1401px 0px;
  }
  .m-phoneInput__flag.ea {
    height: 14px;
    background-position: -1423px 0px;
  }
  .m-phoneInput__flag.ec {
    height: 14px;
    background-position: -1445px 0px;
  }
  .m-phoneInput__flag.ee {
    height: 13px;
    background-position: -1467px 0px;
  }
  .m-phoneInput__flag.eg {
    height: 14px;
    background-position: -1489px 0px;
  }
  .m-phoneInput__flag.eh {
    height: 10px;
    background-position: -1511px 0px;
  }
  .m-phoneInput__flag.er {
    height: 10px;
    background-position: -1533px 0px;
  }
  .m-phoneInput__flag.es {
    height: 14px;
    background-position: -1555px 0px;
  }
  .m-phoneInput__flag.et {
    height: 10px;
    background-position: -1577px 0px;
  }
  .m-phoneInput__flag.eu {
    height: 14px;
    background-position: -1599px 0px;
  }
  .m-phoneInput__flag.fi {
    height: 12px;
    background-position: -1621px 0px;
  }
  .m-phoneInput__flag.fj {
    height: 10px;
    background-position: -1643px 0px;
  }
  .m-phoneInput__flag.fk {
    height: 10px;
    background-position: -1665px 0px;
  }
  .m-phoneInput__flag.fm {
    height: 11px;
    background-position: -1687px 0px;
  }
  .m-phoneInput__flag.fo {
    height: 15px;
    background-position: -1709px 0px;
  }
  .m-phoneInput__flag.fr {
    height: 14px;
    background-position: -1731px 0px;
  }
  .m-phoneInput__flag.ga {
    height: 15px;
    background-position: -1753px 0px;
  }
  .m-phoneInput__flag.gb {
    height: 10px;
    background-position: -1775px 0px;
  }
  .m-phoneInput__flag.gd {
    height: 12px;
    background-position: -1797px 0px;
  }
  .m-phoneInput__flag.ge {
    height: 14px;
    background-position: -1819px 0px;
  }
  .m-phoneInput__flag.gf {
    height: 14px;
    background-position: -1841px 0px;
  }
  .m-phoneInput__flag.gg {
    height: 14px;
    background-position: -1863px 0px;
  }
  .m-phoneInput__flag.gh {
    height: 14px;
    background-position: -1885px 0px;
  }
  .m-phoneInput__flag.gi {
    height: 10px;
    background-position: -1907px 0px;
  }
  .m-phoneInput__flag.gl {
    height: 14px;
    background-position: -1929px 0px;
  }
  .m-phoneInput__flag.gm {
    height: 14px;
    background-position: -1951px 0px;
  }
  .m-phoneInput__flag.gn {
    height: 14px;
    background-position: -1973px 0px;
  }
  .m-phoneInput__flag.gp {
    height: 14px;
    background-position: -1995px 0px;
  }
  .m-phoneInput__flag.gq {
    height: 14px;
    background-position: -2017px 0px;
  }
  .m-phoneInput__flag.gr {
    height: 14px;
    background-position: -2039px 0px;
  }
  .m-phoneInput__flag.gs {
    height: 10px;
    background-position: -2061px 0px;
  }
  .m-phoneInput__flag.gt {
    height: 13px;
    background-position: -2083px 0px;
  }
  .m-phoneInput__flag.gu {
    height: 11px;
    background-position: -2105px 0px;
  }
  .m-phoneInput__flag.gw {
    height: 10px;
    background-position: -2127px 0px;
  }
  .m-phoneInput__flag.gy {
    height: 12px;
    background-position: -2149px 0px;
  }
  .m-phoneInput__flag.hk {
    height: 14px;
    background-position: -2171px 0px;
  }
  .m-phoneInput__flag.hm {
    height: 10px;
    background-position: -2193px 0px;
  }
  .m-phoneInput__flag.hn {
    height: 10px;
    background-position: -2215px 0px;
  }
  .m-phoneInput__flag.hr {
    height: 10px;
    background-position: -2237px 0px;
  }
  .m-phoneInput__flag.ht {
    height: 12px;
    background-position: -2259px 0px;
  }
  .m-phoneInput__flag.hu {
    height: 10px;
    background-position: -2281px 0px;
  }
  .m-phoneInput__flag.ic {
    height: 14px;
    background-position: -2303px 0px;
  }
  .m-phoneInput__flag.id {
    height: 14px;
    background-position: -2325px 0px;
  }
  .m-phoneInput__flag.ie {
    height: 10px;
    background-position: -2347px 0px;
  }
  .m-phoneInput__flag.il {
    height: 15px;
    background-position: -2369px 0px;
  }
  .m-phoneInput__flag.im {
    height: 10px;
    background-position: -2391px 0px;
  }
  .m-phoneInput__flag.in {
    height: 14px;
    background-position: -2413px 0px;
  }
  .m-phoneInput__flag.io {
    height: 10px;
    background-position: -2435px 0px;
  }
  .m-phoneInput__flag.iq {
    height: 14px;
    background-position: -2457px 0px;
  }
  .m-phoneInput__flag.ir {
    height: 12px;
    background-position: -2479px 0px;
  }
  .m-phoneInput__flag.is {
    height: 15px;
    background-position: -2501px 0px;
  }
  .m-phoneInput__flag.it {
    height: 14px;
    background-position: -2523px 0px;
  }
  .m-phoneInput__flag.je {
    height: 12px;
    background-position: -2545px 0px;
  }
  .m-phoneInput__flag.jm {
    height: 10px;
    background-position: -2567px 0px;
  }
  .m-phoneInput__flag.jo {
    height: 10px;
    background-position: -2589px 0px;
  }
  .m-phoneInput__flag.jp {
    height: 14px;
    background-position: -2611px 0px;
  }
  .m-phoneInput__flag.ke {
    height: 14px;
    background-position: -2633px 0px;
  }
  .m-phoneInput__flag.kg {
    height: 12px;
    background-position: -2655px 0px;
  }
  .m-phoneInput__flag.kh {
    height: 13px;
    background-position: -2677px 0px;
  }
  .m-phoneInput__flag.ki {
    height: 10px;
    background-position: -2699px 0px;
  }
  .m-phoneInput__flag.km {
    height: 12px;
    background-position: -2721px 0px;
  }
  .m-phoneInput__flag.kn {
    height: 14px;
    background-position: -2743px 0px;
  }
  .m-phoneInput__flag.kp {
    height: 10px;
    background-position: -2765px 0px;
  }
  .m-phoneInput__flag.kr {
    height: 14px;
    background-position: -2787px 0px;
  }
  .m-phoneInput__flag.kw {
    height: 10px;
    background-position: -2809px 0px;
  }
  .m-phoneInput__flag.ky {
    height: 10px;
    background-position: -2831px 0px;
  }
  .m-phoneInput__flag.kz {
    height: 10px;
    background-position: -2853px 0px;
  }
  .m-phoneInput__flag.la {
    height: 14px;
    background-position: -2875px 0px;
  }
  .m-phoneInput__flag.lb {
    height: 14px;
    background-position: -2897px 0px;
  }
  .m-phoneInput__flag.lc {
    height: 10px;
    background-position: -2919px 0px;
  }
  .m-phoneInput__flag.li {
    height: 12px;
    background-position: -2941px 0px;
  }
  .m-phoneInput__flag.lk {
    height: 10px;
    background-position: -2963px 0px;
  }
  .m-phoneInput__flag.lr {
    height: 11px;
    background-position: -2985px 0px;
  }
  .m-phoneInput__flag.ls {
    height: 14px;
    background-position: -3007px 0px;
  }
  .m-phoneInput__flag.lt {
    height: 12px;
    background-position: -3029px 0px;
  }
  .m-phoneInput__flag.lu {
    height: 12px;
    background-position: -3051px 0px;
  }
  .m-phoneInput__flag.lv {
    height: 10px;
    background-position: -3073px 0px;
  }
  .m-phoneInput__flag.ly {
    height: 10px;
    background-position: -3095px 0px;
  }
  .m-phoneInput__flag.ma {
    height: 14px;
    background-position: -3117px 0px;
  }
  .m-phoneInput__flag.mc {
    height: 15px;
    background-position: -3139px 0px;
  }
  .m-phoneInput__flag.md {
    height: 10px;
    background-position: -3160px 0px;
  }
  .m-phoneInput__flag.me {
    height: 10px;
    background-position: -3182px 0px;
  }
  .m-phoneInput__flag.mf {
    height: 14px;
    background-position: -3204px 0px;
  }
  .m-phoneInput__flag.mg {
    height: 14px;
    background-position: -3226px 0px;
  }
  .m-phoneInput__flag.mh {
    height: 11px;
    background-position: -3248px 0px;
  }
  .m-phoneInput__flag.mk {
    height: 10px;
    background-position: -3270px 0px;
  }
  .m-phoneInput__flag.ml {
    height: 14px;
    background-position: -3292px 0px;
  }
  .m-phoneInput__flag.mm {
    height: 14px;
    background-position: -3314px 0px;
  }
  .m-phoneInput__flag.mn {
    height: 10px;
    background-position: -3336px 0px;
  }
  .m-phoneInput__flag.mo {
    height: 14px;
    background-position: -3358px 0px;
  }
  .m-phoneInput__flag.mp {
    height: 10px;
    background-position: -3380px 0px;
  }
  .m-phoneInput__flag.mq {
    height: 14px;
    background-position: -3402px 0px;
  }
  .m-phoneInput__flag.mr {
    height: 14px;
    background-position: -3424px 0px;
  }
  .m-phoneInput__flag.ms {
    height: 10px;
    background-position: -3446px 0px;
  }
  .m-phoneInput__flag.mt {
    height: 14px;
    background-position: -3468px 0px;
  }
  .m-phoneInput__flag.mu {
    height: 14px;
    background-position: -3490px 0px;
  }
  .m-phoneInput__flag.mv {
    height: 14px;
    background-position: -3512px 0px;
  }
  .m-phoneInput__flag.mw {
    height: 14px;
    background-position: -3534px 0px;
  }
  .m-phoneInput__flag.mx {
    height: 12px;
    background-position: -3556px 0px;
  }
  .m-phoneInput__flag.my {
    height: 10px;
    background-position: -3578px 0px;
  }
  .m-phoneInput__flag.mz {
    height: 14px;
    background-position: -3600px 0px;
  }
  .m-phoneInput__flag.na {
    height: 14px;
    background-position: -3622px 0px;
  }
  .m-phoneInput__flag.nc {
    height: 10px;
    background-position: -3644px 0px;
  }
  .m-phoneInput__flag.ne {
    height: 15px;
    background-position: -3666px 0px;
  }
  .m-phoneInput__flag.nf {
    height: 10px;
    background-position: -3686px 0px;
  }
  .m-phoneInput__flag.ng {
    height: 10px;
    background-position: -3708px 0px;
  }
  .m-phoneInput__flag.ni {
    height: 12px;
    background-position: -3730px 0px;
  }
  .m-phoneInput__flag.nl {
    height: 14px;
    background-position: -3752px 0px;
  }
  .m-phoneInput__flag.no {
    height: 15px;
    background-position: -3774px 0px;
  }
  .m-phoneInput__flag.np {
    height: 15px;
    background-position: -3796px 0px;
  }
  .m-phoneInput__flag.nr {
    height: 10px;
    background-position: -3811px 0px;
  }
  .m-phoneInput__flag.nu {
    height: 10px;
    background-position: -3833px 0px;
  }
  .m-phoneInput__flag.nz {
    height: 10px;
    background-position: -3855px 0px;
  }
  .m-phoneInput__flag.om {
    height: 10px;
    background-position: -3877px 0px;
  }
  .m-phoneInput__flag.pa {
    height: 14px;
    background-position: -3899px 0px;
  }
  .m-phoneInput__flag.pe {
    height: 14px;
    background-position: -3921px 0px;
  }
  .m-phoneInput__flag.pf {
    height: 14px;
    background-position: -3943px 0px;
  }
  .m-phoneInput__flag.pg {
    height: 15px;
    background-position: -3965px 0px;
  }
  .m-phoneInput__flag.ph {
    height: 10px;
    background-position: -3987px 0px;
  }
  .m-phoneInput__flag.pk {
    height: 14px;
    background-position: -4009px 0px;
  }
  .m-phoneInput__flag.pl {
    height: 13px;
    background-position: -4031px 0px;
  }
  .m-phoneInput__flag.pm {
    height: 14px;
    background-position: -4053px 0px;
  }
  .m-phoneInput__flag.pn {
    height: 10px;
    background-position: -4075px 0px;
  }
  .m-phoneInput__flag.pr {
    height: 14px;
    background-position: -4097px 0px;
  }
  .m-phoneInput__flag.ps {
    height: 10px;
    background-position: -4119px 0px;
  }
  .m-phoneInput__flag.pt {
    height: 14px;
    background-position: -4141px 0px;
  }
  .m-phoneInput__flag.pw {
    height: 13px;
    background-position: -4163px 0px;
  }
  .m-phoneInput__flag.py {
    height: 11px;
    background-position: -4185px 0px;
  }
  .m-phoneInput__flag.qa {
    height: 8px;
    background-position: -4207px 0px;
  }
  .m-phoneInput__flag.re {
    height: 14px;
    background-position: -4229px 0px;
  }
  .m-phoneInput__flag.ro {
    height: 14px;
    background-position: -4251px 0px;
  }
  .m-phoneInput__flag.rs {
    height: 14px;
    background-position: -4273px 0px;
  }
  .m-phoneInput__flag.ru {
    height: 14px;
    background-position: -4295px 0px;
  }
  .m-phoneInput__flag.rw {
    height: 14px;
    background-position: -4317px 0px;
  }
  .m-phoneInput__flag.sa {
    height: 14px;
    background-position: -4339px 0px;
  }
  .m-phoneInput__flag.sb {
    height: 10px;
    background-position: -4361px 0px;
  }
  .m-phoneInput__flag.sc {
    height: 10px;
    background-position: -4383px 0px;
  }
  .m-phoneInput__flag.sd {
    height: 10px;
    background-position: -4405px 0px;
  }
  .m-phoneInput__flag.se {
    height: 13px;
    background-position: -4427px 0px;
  }
  .m-phoneInput__flag.sg {
    height: 14px;
    background-position: -4449px 0px;
  }
  .m-phoneInput__flag.sh {
    height: 10px;
    background-position: -4471px 0px;
  }
  .m-phoneInput__flag.si {
    height: 10px;
    background-position: -4493px 0px;
  }
  .m-phoneInput__flag.sj {
    height: 15px;
    background-position: -4515px 0px;
  }
  .m-phoneInput__flag.sk {
    height: 14px;
    background-position: -4537px 0px;
  }
  .m-phoneInput__flag.sl {
    height: 14px;
    background-position: -4559px 0px;
  }
  .m-phoneInput__flag.sm {
    height: 15px;
    background-position: -4581px 0px;
  }
  .m-phoneInput__flag.sn {
    height: 14px;
    background-position: -4603px 0px;
  }
  .m-phoneInput__flag.so {
    height: 14px;
    background-position: -4625px 0px;
  }
  .m-phoneInput__flag.sr {
    height: 14px;
    background-position: -4647px 0px;
  }
  .m-phoneInput__flag.ss {
    height: 10px;
    background-position: -4669px 0px;
  }
  .m-phoneInput__flag.st {
    height: 10px;
    background-position: -4691px 0px;
  }
  .m-phoneInput__flag.sv {
    height: 12px;
    background-position: -4713px 0px;
  }
  .m-phoneInput__flag.sx {
    height: 14px;
    background-position: -4735px 0px;
  }
  .m-phoneInput__flag.sy {
    height: 14px;
    background-position: -4757px 0px;
  }
  .m-phoneInput__flag.sz {
    height: 14px;
    background-position: -4779px 0px;
  }
  .m-phoneInput__flag.ta {
    height: 10px;
    background-position: -4801px 0px;
  }
  .m-phoneInput__flag.tc {
    height: 10px;
    background-position: -4823px 0px;
  }
  .m-phoneInput__flag.td {
    height: 14px;
    background-position: -4845px 0px;
  }
  .m-phoneInput__flag.tf {
    height: 14px;
    background-position: -4867px 0px;
  }
  .m-phoneInput__flag.tg {
    height: 13px;
    background-position: -4889px 0px;
  }
  .m-phoneInput__flag.th {
    height: 14px;
    background-position: -4911px 0px;
  }
  .m-phoneInput__flag.tj {
    height: 10px;
    background-position: -4933px 0px;
  }
  .m-phoneInput__flag.tk {
    height: 10px;
    background-position: -4955px 0px;
  }
  .m-phoneInput__flag.tl {
    height: 10px;
    background-position: -4977px 0px;
  }
  .m-phoneInput__flag.tm {
    height: 14px;
    background-position: -4999px 0px;
  }
  .m-phoneInput__flag.tn {
    height: 14px;
    background-position: -5021px 0px;
  }
  .m-phoneInput__flag.to {
    height: 10px;
    background-position: -5043px 0px;
  }
  .m-phoneInput__flag.tr {
    height: 14px;
    background-position: -5065px 0px;
  }
  .m-phoneInput__flag.tt {
    height: 12px;
    background-position: -5087px 0px;
  }
  .m-phoneInput__flag.tv {
    height: 10px;
    background-position: -5109px 0px;
  }
  .m-phoneInput__flag.tw {
    height: 14px;
    background-position: -5131px 0px;
  }
  .m-phoneInput__flag.tz {
    height: 14px;
    background-position: -5153px 0px;
  }
  .m-phoneInput__flag.ua {
    height: 14px;
    background-position: -5175px 0px;
  }
  .m-phoneInput__flag.ug {
    height: 14px;
    background-position: -5197px 0px;
  }
  .m-phoneInput__flag.um {
    height: 11px;
    background-position: -5219px 0px;
  }
  .m-phoneInput__flag.us {
    height: 11px;
    background-position: -5241px 0px;
  }
  .m-phoneInput__flag.uy {
    height: 14px;
    background-position: -5263px 0px;
  }
  .m-phoneInput__flag.uz {
    height: 10px;
    background-position: -5285px 0px;
  }
  .m-phoneInput__flag.va {
    height: 15px;
    background-position: -5307px 0px;
  }
  .m-phoneInput__flag.vc {
    height: 14px;
    background-position: -5324px 0px;
  }
  .m-phoneInput__flag.ve {
    height: 14px;
    background-position: -5346px 0px;
  }
  .m-phoneInput__flag.vg {
    height: 10px;
    background-position: -5368px 0px;
  }
  .m-phoneInput__flag.vi {
    height: 14px;
    background-position: -5390px 0px;
  }
  .m-phoneInput__flag.vn {
    height: 14px;
    background-position: -5412px 0px;
  }
  .m-phoneInput__flag.vu {
    height: 12px;
    background-position: -5434px 0px;
  }
  .m-phoneInput__flag.wf {
    height: 14px;
    background-position: -5456px 0px;
  }
  .m-phoneInput__flag.ws {
    height: 10px;
    background-position: -5478px 0px;
  }
  .m-phoneInput__flag.xk {
    height: 15px;
    background-position: -5500px 0px;
  }
  .m-phoneInput__flag.ye {
    height: 14px;
    background-position: -5522px 0px;
  }
  .m-phoneInput__flag.yt {
    height: 14px;
    background-position: -5544px 0px;
  }
  .m-phoneInput__flag.za {
    height: 14px;
    background-position: -5566px 0px;
  }
  .m-phoneInput__flag.zm {
    height: 14px;
    background-position: -5588px 0px;
  }
  .m-phoneInput__flag.zw {
    height: 10px;
    background-position: -5610px 0px;
  }

  .m-phoneInput__flag {
    width: 20px;
    height: 15px;
    background-image: url('<%= APP_CDN %>/assets/flags/flags.png');
    background-repeat: no-repeat;
    background-position: 20px 0;
    @include m-theme() {
      background-color: themed($m-grey-100);
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .m-phoneInput__flag {
      background-image: url('<%= APP_CDN %>/assets/flags/flags@2x.png');
    }
  }

  .m-phoneInput__flag.np {
    background-color: transparent;
  }
}
