<div class="m-modalV2__inner">
  <div class="m-modalV2__header">
    <h2 class="m-modalV2Header__title">
      {{ title }}
    </h2>
  </div>

  <div class="m-modalV2__body" #scrollSource>
    <ul>
      <li *ngFor="let entity of entities">
        <m-publisherCard
          [publisher]="entity"
          *ngIf="entity?.type === 'user'"
        ></m-publisherCard>
        <m-newsfeed__entity
          [entity]="entity"
          *ngIf="entity?.type !== 'user'"
        ></m-newsfeed__entity>
      </li>
    </ul>

    <infinite-scroll
      distance="25%"
      (load)="loadNext()"
      [moreData]="nextPagingToken"
      [inProgress]="inProgress$ | async"
      [hidden]="!nextPagingToken && entities?.length > 0"
      [scrollSource]="scrollSource"
    >
    </infinite-scroll>
  </div>
</div>

<m-modalCloseButton></m-modalCloseButton>
