<div class="m-boostModal__container m-modalV2__inner">
  <div class="m-modalV2__header" [ngStyle]="bannerSrc">
    <h2 class="m-modalV2Header__title">
      <ng-container *ngTemplateOutlet="boostSubjectText"></ng-container>
    </h2>
  </div>

  <!-- Body -->

  <m-boostModal__tabs></m-boostModal__tabs>

  <div class="m-modalV2__footer">
    <div>
      <span
        class="m-boostModal__footerText"
        i18n="@@BOOST_MODAL__BECOME_A_LIQUIDITY_PROVIDER"
        *mIfFeature="'liquidity-spot'"
        >Become a <a href="/wallet" target="_blank">liquidity provider</a> for
        automated boosting of your channel</span
      >
      <span
        *ngIf="(entityType$ | async) !== 'post'"
        class="m-boostModal__footerText m-boostModal__footerText--primary"
        i18n="@@BOOST_MODAL__WANT_TO_BOOST_POST"
        >Want to Boost a Post? Go to
        <a href="/{{ username }}" target="_blank">your channel</a> to get
        started</span
      >
    </div>
    <div class="m-boostModal__boostButtonContainer">
      <m-button
        class="m-boostModal__boostButton"
        [disabled]="disabled$ | async"
        (onAction)="submitBoost()"
        [saving]="inProgress$ | async"
        [size]="'medium'"
        [color]="'blue'"
        data-cy="data-minds-boost-modal-boost-button"
      >
        <ng-container *ngTemplateOutlet="boostSubjectText"></ng-container>
      </m-button>
    </div>
  </div>
</div>

<ng-template #boostSubjectText>
  <ng-container [ngSwitch]="entityType$ | async">
    <ng-container *ngSwitchCase="'post'" i18n="@@BOOST_MODAL__TITLE__POST">
      Boost Post
    </ng-container>
    <ng-container
      *ngSwitchCase="'channel'"
      i18n="@@BOOST_MODAL__TITLE__CHANNEL"
    >
      Boost Channel
    </ng-container>
    <ng-container
      *ngSwitchCase="'blog'"
      i18n="action|@@BOOST_MODAL__TITLE__BOOST"
    >
      Boost
    </ng-container>
  </ng-container>
</ng-template>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
