<div class="m-modalV2__inner">
  <div class="m-concertColors__header">
    <span class="m-concertColorsHeader__title">{{ title }}</span>
  </div>
  <ng-content></ng-content>
</div>

<m-modalCloseButton [white]="true"></m-modalCloseButton>
